body {
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #4357ad;
}

.header {
  padding: 9px;
  width: 100%;
  max-width: 992px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header h2 {
  color: white;
}

.header span a {
  color: white;
}

.content {
  margin-top: 15px;
  width: 100%;
  max-width: 992px;
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto;
}

.content-height {
  min-height: 60vh;
}

.card {
  width: 100%;
  height: 249px;
  background-color: cadetblue;
  box-shadow: 1px 1px 3px 1px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-body-container {
  padding: 5px;
  height: 176px;
}

.card-body {
  width: 100%;
  height: 185px;
  font-size: 15px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: gray;
  padding: 6px;
}

.color-picker {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  border-radius: 50px;
  border: 1px white solid;
  cursor: pointer;
}

.color-picker:hover {
  border-color:#4357ad;
}

.color-1 {
  background-color: #e4dfda;
}

.color-2 {
  background-color: #97D8B2;
}

.color-3 {
  background-color: #DCEDFF;
}

.color-4 {
  background-color: #fff275;
}

.color-5 {
  background-color: #858AE3;
}

.flex-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.footer {
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  border-top: 1px gray solid;
}

/* Add Form **/
.add-form-container {
  background-color: rgba(48, 46, 46, 0.373);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 155px;
  margin: auto;
}

.add-form-card {
  padding: 5px;
  width: 100%;
  max-width: 435px;
}

.add-form {
  width: 100%;
  max-width: 435px;
}

.add-form-title {
  width: 100%;
  max-width: 426px;
  background-color: gray;
  font-size: 19px;
  padding-left: 9px;
}

.add-form-description {
  margin: auto auto;
  width: 97%;
  height: 93%;
  outline: none;
  padding: 5px;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
}

.add-form-button {
  display: inline-block;
  height: 20px;
  margin-right: 7px;
  border-radius: 5px;
  border: 1px white solid;
  cursor: pointer;
}

.edit-form-description {
  width: 99%;
  margin: auto;
  height: 98%;
  border: none;
  outline-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
}

.icon-button {
  background: none;
  border: none;
  color: black;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 576px) {
  .content {
    grid-template-columns: auto;
  }
  .add-form-card {
    width: 95%;
    max-width: 435px;
  }
  .card {
    margin: auto;
    width: 95%;
    height: 255px;
  }
}
